/* Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Full height of the viewport */
    width: 130vh; /* Adjust the width as needed */
    position: fixed;
    left: 0; /* Adjusted to place the sidebar on the left */
    margin-top: 1%;
    
    top: 0;
    background-color: rgb(83, 60, 34); /* Your preferred background color */
    overflow-y: auto; /* Make it scrollable */
    color: white
}

.menu {
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    opacity: 12;
}

.menu-item {
    padding: 10px;
    transition: background-color 0.5s ease;
    background-color:black;
    cursor: pointer;
    border-radius:10px;
}

.menu-item:hover {
    background-color: beige; /* Color changes on hover */
    color: black;
}
